@model IEnumerable<dynamic>

@{
	ViewData["Title"] = "Category";
}

<h2 class="text-center mb-5">Category</h2>

<form asp-action="Index" class="m-5">
	<div class="row ">
		<div class="col-8">
			<input type="number" class="form-control" placeholder="Search.." />
		</div>
		<div class="col-4">
			<input type="submit" value="Search" class="btn btn-success" />
		</div>
	</div>
</form>

<div class="row mb-5">
	<div class="col">
		<a class="btn btn-primary" asp-controller="Category" asp-action="Create">New Category</a>
	</div>
	<div class="col">
	</div>

</div>

<table class="table table-bordered table-stripedS">
	<thead>
		<tr>
			<th></th>
			<th></th>
			<th>Name</th>
			<th>Sub Categories</th>
			<th>Active</th>			
			<th>Last Update</th>
			<th style="text-align: center;">Actions</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var category in Model)
		{
			<tr>
				<td>@category.CategoryId</td>

				<td><img src="/CategoryImages/@category.CategoryImage" width="70" height="50" style="border-radius: 50%; object-fit: cover;" /></td>
				
				<td>@category.CategoryName</td>
				
				<td>@category.SubCategoriesCount Sub Category</td>
				@* <td>@(category.Active ? "Yes" : "No")</td> *@
				<td>
					@if (category.Active)
					{
						<span style="color: green; font-size: 18px;">✓</span> <!-- Checkmark for Active -->
					}
					else
					{
						<span style="color: red; font-size: 18px;">✘</span> <!-- Cross for Inactive -->
					}
				</td>
				
				<td>@category.CreatedAt</td>
				<td style="white-space:nowrap">
					<a class="btn btn-primary btn-sm" asp-controller="Category" asp-action="Edit"
					   asp-route-id="@category.CategoryId">Edit</a>

					<a class="btn btn-primary btn-sm" asp-controller="Category" asp-action="Details"
					   asp-route-id="@category.CategoryId">View</a>

					@* <a class="btn btn-danger btn-sm" onclick="return confirm('the Category has @category.ProductCount Products and can not be deleted before deleting Products !')"
					   asp-controller="Category" asp-action="Delete"
					   asp-route-id="@category.CategoryId">Delete</a> *@

				</td>
			</tr>
		}
	</tbody>
</table>
