@model IEnumerable<dynamic>

@{
	ViewData["Title"] = "Category";
}

<h2 class="text-center mb-5">Category</h2>

<div class="row mb-5">
	<div class="col">
		<a class="btn btn-primary" asp-controller="Category" asp-action="Create">New Category</a>
	</div>
	<div class="col">
	</div>

</div>

<table class="table table-bordered table-stripedS">
	<thead>
		<tr>
			<th>Id</th>
			<th>Category Name</th>
			<th>Product Count</th>
			<th>Sub Categories</th>
			<th>Active</th>
			<th>Image</th>
			<th>Last Update</th>
			<th style="text-align: center;">Actions</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var category in Model)
		{
			<tr>
				<td>@category.CategoryId</td>
				<td>@category.CategoryName</td>
				<td>@category.ProductCount</td>
				<td>@category.SubCategoriesCount</td>
				@* <td>@(category.Active ? "Yes" : "No")</td> *@
				<td>
					@if (category.Active)
					{
						<span style="color: green; font-size: 18px;">✓</span> <!-- Checkmark for Active -->
					}
					else
					{
						<span style="color: red; font-size: 18px;">✘</span> <!-- Cross for Inactive -->
					}
				</td>
				<td><img src="/CategoryImages/@category.CategoryImage" width="100" height="70" /></td>
				<td>@category.CreatedAt</td>
				<td style="white-space:nowrap">
					<a class="btn btn-primary btn-sm" asp-controller="Category" asp-action="Edit"
					   asp-route-id="@category.CategoryId">Edit</a>
					@* <a class="btn btn-danger btn-sm" onclick="return confirm('the Category has @category.ProductCount Products and can not be deleted before deleting Products !')"
					   asp-controller="Category" asp-action="Delete"
					   asp-route-id="@category.CategoryId">Delete</a> *@

				</td>
			</tr>
		}
	</tbody>
</table>
